[Desktop Entry]
Encoding=UTF-8
Name=SolydK Panel
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Arjen Balfoort
X-KDE-PluginInfo-Email=arjenbalfoort@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.desktop.solydkPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://solydxk.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
