[Desktop Entry]
Name=solydk-dark
X-KDE-PluginInfo-Name=solydk-dark
X-KDE-PluginInfo-Author=Arjen Balfoort
X-KDE-PluginInfo-Email=arjenbalfoort@hotmail.com
X-KDE-PluginInfo-License=GPLv2
