[Desktop Action gtkhash]
Exec=gtkhash %f
Icon=gtkhash
Name=GTK hash of file
Name[x-test]=xxGTK hash of filexx

[Desktop Entry]
Actions=gtkhash
Icon=gtkhash
Type=Service
MimeType=all/allfiles;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
